
.label h3{
  display: inline-block;
  margin: -350px 0px 0px 200px ;
  color: red  ;
  padding: 2px;
  background-color: black;

}

.nombre{

    color: white;
    margin: 0px 0px 0px 100px;
    padding: auto;
    display: inline-block;
    font-size: medium;

}

.modelo{
    color: white;
    display: inline-block;
    padding: auto;
    margin:0px 0px 0px 250px;
    padding: 0px;
    font-size: medium;
}

.pasajeros{
    color: white;
    display: inline-block;
    padding: auto;
    margin:0px 0px 0px 300px;
    padding: 0px;
    font-size: medium;
}

.img5{
  width: 900px;
  height: 380px;
  z-index: 2;

}
