
<body>
<div>
    <img class="img2" src="../assets/images/StarLogo.png" alt="star-logo">    
</div>
<div class="btn"><a routerLink="/person">Character</a></div>
<div class="btn"><a routerLink="/pelis">Movies</a></div>
<div class="btn"><a href=" ">Starships</a></div>
<div class="btn"><a href=" ">Species</a></div>
<div class="btn"><a href=" ">Vehicles</a></div>
<div class="btn"><a routerLink="/planet">Planets</a></div>

<form name="cotacto" method="POST" action="#">
<label for="nombre">Make Your Search:</label>
<input type="text" name="nombre" placeholder="Search Star Wars">
<div class="btn1"><a href=" ">Go</a></div>
</form>
 <br>
   <hr>

<div class=imagenes>
    <img class="img1" src="../assets/images/war1.jpg" alt="">
    
    </div>
    <router-outlet></router-outlet>
</body>

