
.label h3{
    display: inline-block;
    margin:-350px 0px 0px 370px;
    color: red  ;
    padding: 2px;
    background-color: black;

  }

  .Nombre{

      color: white;
      margin:0px 0px 0px 320px;
      padding: 0px;
      display: inline-block;
      font-size: medium;

  }

  .Modelo{
      color: white;
      display: inline-block;
      padding: auto;
      margin:0px 0px 0px 550px;
      padding: 0px;
      font-size: medium;
  }

  .ClaseNave{
      color: white;
      display: inline-block;
      padding: auto;
      margin:0px 0px 0px 450px;
      padding: 0px;
      font-size: medium;
  }

  .img5{
    width: 600px;
    height: 280px;
    z-index: 2;

  }
