.label h3{
    display: inline-block;
    margin:-350px 0px 0px 390px;
    color: red  ;
    padding: 2px;
    background-color: black;
  }

  .Nombre{

      color: white;
      margin:0px 0px 10px 300px;
      padding: 0px;
      display: inline-block;
      font-size: relative size;
  }

  .Altura{
      color: white;
      display: inline-block;
      padding: auto;
      margin:0px 0px 10px 400px;
      padding: 0px;
      font-size: relative size;
  }

  .Masa{
      color: white;
      display: inline-block;
      padding: auto;
      margin:0px 0px 10px 470px;
      padding: 0px;
      font-size: relative size;
  }

  .img3{
    width: 600px;
    height: 280px;
    z-index: 2;

  }
