<body>

<div align="center" ><a routerLink="/home"><img class="centrado" src="../assets/images/StarLogo.png" alt="star-logo" title="HOME"></a></div>
<div class="btn"><a routerLink="/character" href=" ">Character</a></div>
<div class="btn"><a routerLink="/movies" href=" ">Movies</a></div>
<div class="btn"><a href=" ">Starships</a></div>
<div class="btn"><a href=" ">Species</a></div>
<div class="btn"><a href=" ">Vehicles</a></div>
<div class="btn"><a href=" ">Planets</a></div>

<form name="cotacto" method="POST" action="#">
<label for="nombre">Make Your Search:</label>
<input type="text" name="nombre" placeholder="Search Star Wars">
<div class="btn1"><a href=" ">Go</a></div>
</form>
 <br>
   <hr>
 <br>



<router-outlet> </router-outlet>

</body>
