/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  font-family: 'Bitter', serif;
  background-color: black;
  font-size: 2rem;
  background-image: url(./assets/images/fondo.png);
  width: 100%;
  height: 100vh;
}

[alt="star-logo"] {
  width: 25rem;;
  height: 7rem;
}
